header{
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}
header img{
    height: 5rem;
}
#main{
    width: 40rem;
    line-height: 2rem;
    margin: auto;
}
#main td{
    height: 2rem;
    width: 20rem;
    border: 1px solid black;
    border-collapse: collapse;
}
#main td img{
    text-align: center;
    height: 2rem;
    line-height: 2rem;
}
table{
    margin-bottom: 3rem;
}




footer{
    width: 12.0013rem;
    margin:0 auto;
}